<div class="container">
  <h2>{{ isEdit ? 'Editar Tarefa' : 'Adicionar Tarefa' }}</h2>
  <form (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label for="titulo" class="form-label">Título</label>
      <input type="text" id="titulo" [(ngModel)]="task.titulo" name="titulo" class="form-control" required>
    </div>
    <div class="mb-3">
      <label for="descricao" class="form-label">Descrição</label>
      <textarea id="descricao" [(ngModel)]="task.descricao" name="descricao" class="form-control"></textarea>
    </div>
    <button type="submit" class="btn btn-success">{{ isEdit ? 'Salvar Alterações' : 'Adicionar Tarefa' }}</button>
  </form>
</div>
